/* Styling for game play area */
.player-section {
	position: relative;
	margin-right:-30px;
	border: 2px solid blue;
	margin-bottom: 75%;
	@include box($player-background-color, blue, 25px, 0px 3px 3px $box-shadow-color);
}
  
.computer-section {
	position: relative;
	margin-left:-30px;
	border: 2px solid green;
	margin-top: 75%;
	@include box($computer-background-color, green, 25px, 0px 3px 3px $box-shadow-color);
}

#player-total,
#computer-total {
	font-size: 22px;
	font-weight: bold;
}

.dice-row {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
  
.dice-image {
	width: 50px;
	height: 50px;
	margin: 2px;
}