/* ContainerBox Mixin */
@mixin box($background-color, $border-color, $padding, $box-shadow) {
	background-color: $background-color;
	border: 2px solid $border-color;
	border-radius: 10px;
	padding: $padding;
	box-shadow: $box-shadow;
}